body {
    font-family: 'Merriweather', serif;
    background-image: url("/img/back.jpg");
    background-size: 100%;
    background-color: #000000;
    background-repeat: no-repeat;
}


h2 {
    font-weight: 900;
    font-size: 35px;
    margin-top: 0;
    text-align: center;
    color: #ff6a00;
    font-family: 'Merriweather', serif;

}

h3{
    font-weight: 900;
    font-size: 1px;
    margin-top: 0;
    text-align: center;
    color: #000000;
    font-family: 'Merriweather', serif;
}

a {
    text-align: center;
}

.introduction__title {
    font-size: 34px;
    margin-top: 50px;
    font-weight: 700;
}

.introduction__text {
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
    color: #ffffff;
}
.main{
    background-color: rgba(168,168,168,0.7);
    margin-top: 95px;
    text-align: center;
}
.login{
    background-color: rgba(168,168,168,0.8);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
    margin: 10% 350px 6px;
    box-shadow: 0 -3px rgb(99, 99, 99) inset;
    transition: 0.2s;
}
.login__form{
    align:center;
    margin-top: -170px;
}


input.button7 {
    font-weight: 900;
    font-family: 'Merriweather', serif;;
    font-size: 20px;
    margin-left: 0;
    color: white;
    text-decoration: none;
    padding: .5em 4em calc(.5em + 4px);
    border-radius: 2px;
    background: rgb(255, 106, 0);
    box-shadow: 0 -3px rgb(190, 83, 0) inset;
    transition: 0.2s;
}

a.button7 {
    font-weight: 900;
    font-family: 'Merriweather', serif;;
    font-size: 20px;
    margin-left: 0;
    color: white;
    text-decoration: none;
    padding: .5em 4em calc(.5em + 4px);
    border-radius: 2px;
    background: rgb(255, 106, 0);
    box-shadow: 0 -3px rgb(190, 83, 0) inset;
    transition: 0.2s;
}

a.button7:hover {
    background: rgb(255, 160, 37);
}

a.button7:active {
    background: rgb(144, 88, 25);
    box-shadow: 0 3px rgb(95, 55, 18) inset;
}

a.buttonReg {
    font-weight: 900;
    font-family: 'Merriweather', serif;;
    font-size: 20px;
    margin-left: 0;
    color: white;
    text-decoration: none;
    padding: .5em 4em calc(.5em + 4px);
    border-radius: 2px;
    background: rgba(62, 245, 45, 0.98);
    box-shadow: 0 -3px rgb(0, 190, 28) inset;
    transition: 0.2s;
}

a.buttonReg:hover {
    background: rgba(62, 245, 45, 0.98);
}

a.buttonReg:active {
    background: rgb(0, 144, 38);
    box-shadow: 0 3px rgb(30, 95, 28) inset;
}


.title {
    padding-top: 40px;
    padding-bottom: 70px;
    text-align: center;
}

.title__main {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

.title__text {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.99);
    line-height: 2;
}
.tests{
    font-weight: 900;
    font-size: 50px;
    padding-bottom: 70px;
    text-align: center;
}

.test{
    background-color: #ffffff;
    height:auto;

}

.test2{
    margin-top: 40px;
    background-color: rgba(168,168,168,0.9);
}

.list-group{
    text-align: center;
}

.list-group-item{
    color: rgb(255, 106, 0);
    background-color: rgba(1,0,1,0.5);
}

a.list{
    color: rgb(255, 106, 0);
}

.review{
    background-color: rgba(255, 106, 0,0.9);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
    box-shadow: 0 -3px rgb(99, 99, 99) inset;
    transition: 0.2s;
}